body{
  background-color: red;
  font-family: 'Oswald', sans-serif;
  margin-left: 350px;
  margin-right: 350px;
}

@media all and (max-width:800px) {
  body{
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media (min-width:801px) and (max-width: 1200px) {
  body{
    margin-left: 175px;
    margin-right: 175px;
  }
}

p{
  border: solid 1px black;
  padding: 3px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  text-align: center;
  border-radius: 15px;
}

p:hover{
  opacity: 0.8;
}
